In [1]:
import pandas as pd
import numpy as np

In [2]:
targets = pd.read_csv('../target_competencia_ids.csv', dtype={'ref_hash': np.object, 'obj': np.int8})
targets.head()

                 ref_hash  obj
0  1000169251625791246_sc    0
1  1000169251625791246_st    0
2  1000395625957344683_sc    0
3  1000395625957344683_st    0
4  1003027494996471685_sc    0

In [3]:
targets['tipo'] = targets['ref_hash'].str.split('_').str[1]
targets.head()

                 ref_hash  obj tipo
0  1000169251625791246_sc    0   sc
1  1000169251625791246_st    0   st
2  1000395625957344683_sc    0   sc
3  1000395625957344683_st    0   st
4  1003027494996471685_sc    0   sc

In [4]:
targets['ref_hash'] = targets['ref_hash'].str.split('_').str[0]
targets.head()

              ref_hash  obj tipo
0  1000169251625791246    0   sc
1  1000169251625791246    0   st
2  1000395625957344683    0   sc
3  1000395625957344683    0   st
4  1003027494996471685    0   sc

In [6]:
target_st = targets.loc[targets['tipo'] == 'st']
target_st = target_st.drop('tipo', axis=1).set_index('ref_hash')
target_st.to_csv('../xgb/base_target_st.csv')
target_st.head()

                     obj
ref_hash
1000169251625791246    0
1000395625957344683    0
1003027494996471685    0
1006670001679961544    0
1007573308966476713    0

In [7]:
target_sc = targets.loc[targets['tipo'] == 'sc']
target_sc = target_sc.drop('tipo', axis=1).set_index('ref_hash')
target_sc.to_csv('../xgb/base_target_sc.csv')
target_sc.head()

                     obj
ref_hash
1000169251625791246    0
1000395625957344683    0
1003027494996471685    0
1006670001679961544    0
1007573308966476713    0